<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="icon" href="{{url_for('static',filename='/images/skill-black.jpg')}}" type="image/png">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/chat.css')}}">
<script src="{{url_for('static',filename='js/chat.js')}}"></script>
<title>Skill Storm | Message</title>
<meta charset="utf-8">
    <meta name="author" content="skill-storm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<div class="home-page__content messages-page">
 


  <div class="container-fluid h-100">

    <div class="row px-0 h-100">
      <!-- start message list section  -->
      <div class="col-12 col-md-4 col-lg-5 col-xl-3 px-0 messages-page__list-scroll">

        <div class="messages-page__header mb-0 px-4 pt-3 pb-3">
          <span class="messages-page__title">Chats</span>
          
        </div>
        <div class="messages-page__search mb-0 px-3 pb-3">
        <!--  <div class="custom-form__search-wrapper">
            <input type="text" class="form-control custom-form" id="search" placeholder="Rechercher un message, un utilisateur…" autocomplete="off">
            <button type="submit" class="custom-form__search-submit">
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--search" viewBox="0 0 46.6 46.6">
                <path d="M46.1,43.2l-9-8.9a20.9,20.9,0,1,0-2.8,2.8l8.9,9a1.9,1.9,0,0,0,1.4.5,2,2,0,0,0,1.5-.5A2.3,2.3,0,0,0,46.1,43.2ZM4,21a17,17,0,1,1,33.9,0A17.1,17.1,0,0,1,33,32.9h-.1A17,17,0,0,1,4,21Z" fill="#f68b3c" />
              </svg>
            </button>
          </div> !-->
        </div>
        

        <ul class="messages-page__list pb-5 px-1 px-md-3">
          
          {% for i,j,z in value %}
        <a href="{{url_for('change_chat',contest_id=j)}}" >
          <li class="messaging-member messaging-member--new messaging-member--online">
            <div class="messaging-member__wrapper">
              <div class="messaging-member__avatar">
                <img src="{{z}}" alt="Bessie Cooper" loading="lazy">
                
              </div>

              <span class="messaging-member__name">{{i}}</span>
              
            </div>
          </li>
          
            </a>
        {% endfor %}
          
        </ul>
      
      </div>
      <!-- end message list section  -->
      <!-- start content section  -->
      <div class="chat col-12 col-md-8 col-lg-7 col-xl-6 px-0 pl-md-1">
        <div class="chat__container">
          <div class="chat__wrapper py-2 pt-mb-2 pb-md-3">

            <div class="chat__messaging messaging-member--online pb-2 pb-md-2 pl-2 pl-md-4 pr-2">

              <div class="chat__previous d-flex d-md-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--previous" viewBox="0 0 45.5 30.4">
                  <path d="M43.5,13.1H7l9.7-9.6A2.1,2.1,0,1,0,13.8.6L.9,13.5h0L.3,14v.6c0,.1-.1.1-.1.2v.4a2,2,0,0,0,.6,1.5l.3.3L13.8,29.8a2.1,2.1,0,1,0,2.9-2.9L7,17.2H43.5a2,2,0,0,0,2-2A2.1,2.1,0,0,0,43.5,13.1Z" fill="#f68b3c" />
                </svg>
              </div>
              <div class="chat__notification d-flex d-md-none chat__notification--new">
                <span>1</span>
              </div>
              <div class="chat__infos pl-2 pl-md-0">
                <div class="chat-member__wrapper" data-online="true">
                  <div class="chat-member__avatar">
                    <img src="{{url}}" alt="Jenny Smith" loading="lazy">
                    
                  </div>
                  <div class="chat-member__details">
                    <span class="chat-member__name">{{title}}</span>
                    <p>{{participants[0]}},{{participants[1]}},Admin</p>
                    
                  </div>
                </div>
              </div>

              <div class="chat__actions mr-2 ">
                <ul class="m-0">
                 
                  
                  <li class="chat__details d-flex d-xl-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 42.2 11.1">
                      <g>
                        <circle cx="5.6" cy="5.6" r="5.6" fill="#d87232" />
                        <circle cx="21.1" cy="5.6" r="5.6" fill="#d87232" />
                        <circle cx="36.6" cy="5.6" r="5.6" fill="#d87232" />
                      </g>
                    </svg>
                  </li>
                </ul>

              </div>
            </div>
            <div class="chat__content pt-4 px-3">
              <ul class="chat__list-messages" id="chatList">
                {% for i,j in contest_chat %}
                <li>
                  <div class="chat__time">{{i}}</div>
                  <div class="chat__bubble chat__bubble--you">
                    {{j}}
                  </div>
                </li>
                {% endfor %}



              </ul>
            </div>
            <div class="chat__send-container px-2 px-md-3 pt-1 pt-md-3">
              <div class="custom-form__send-wrapper">
                <input type="text" class="form-control custom-form" id="message" placeholder="Type your message …" autocomplete="off">
               
                
                <button type="submit" class="custom-form__send-submit" id="send_message">
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--send" viewBox="0 0 45.6 45.6">
                    <g>
                      <path d="M20.7,26.7a1.4,1.4,0,0,1-1.2-.6,1.6,1.6,0,0,1,0-2.4L42.6.5a1.8,1.8,0,0,1,2.5,0,1.8,1.8,0,0,1,0,2.5L21.9,26.1A1.6,1.6,0,0,1,20.7,26.7Z" fill="#d87232" />
                      <path d="M29.1,45.6a1.8,1.8,0,0,1-1.6-1L19.4,26.2,1,18.1a1.9,1.9,0,0,1-1-1.7,1.8,1.8,0,0,1,1.2-1.6L43.3.1a1.7,1.7,0,0,1,1.8.4,1.7,1.7,0,0,1,.4,1.8L30.8,44.4a1.8,1.8,0,0,1-1.6,1.2ZM6.5,16.7l14.9,6.6a2,2,0,0,1,.9.9l6.6,14.9L41,4.6Z" fill="#d87232" />
                    </g>
                  </svg>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

<div class="container">
  <br>
  <br>
  <div class="link">
    <a href="{{url_for('Home')}}"><div class="text">Home</div></a>
  </div>
  <br>
  <br>
  <div class="link">
    <a href="{{ url_for('explore',page_no=1) }}"><div class="text">Explore</div></a>
  </div>
  <br>
  <br>
  <div class="link">
    <a href="{{url_for('create_contest')}}"><div class="text">Create Yours</div></a>
  </div>
  <br>
  <br>
  <div class="link">
    <a href="{{url_for('account')}}"><div class="text">Your Account</div></a>
  </div>
  <br>
  <br>
  <div class="link">
     <a href="{{url_for('logout')}}"><div class="text">Logout</div></a>
  </div>
  <br>
  <br>
  <div class="link">
    <div class="text">Help</div>
  </div>
</div>

      <!-- end content section  -->
      <!-- start infos section  -->
      <!--<div class="col-12 col-md-5 col-lg-4 col-xl-3 px-4 px-sm-5 px-lg-4 user-profile">
        <div class="user-profile__close d-flex d-xl-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 38.8 38.9">
            <g>
              <path d="M2,38.9a1.9,1.9,0,0,1-1.4-.5,2.1,2.1,0,0,1,0-2.9L35.4.6a1.9,1.9,0,0,1,2.8,0,1.9,1.9,0,0,1,0,2.8L3.4,38.4A1.9,1.9,0,0,1,2,38.9Z" fill="#d87232" />
              <path d="M36.8,38.9a1.9,1.9,0,0,1-1.4-.5L.6,3.4A1.9,1.9,0,0,1,.6.6,1.9,1.9,0,0,1,3.4.6L38.2,35.5a2.1,2.1,0,0,1,0,2.9A1.9,1.9,0,0,1,36.8,38.9Z" fill="#d87232" />
            </g>
          </svg>
        </div>
        
      </div>
!-->

      <!-- end infos section  -->
    </div>
  </div>
</div>



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
 <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        const chatList = document.getElementById('chatList');
        var contest_id = "{{ contest_id }}";
         socket.emit('join', { room: contest_id });


        /* var leaveRoomLink = document.getElementById('leave_chat');


           leaveRoomLink.addEventListener('click', function(event) {
        event.preventDefault();

        var contest_id = "{{ contest_id }}"; 

       
        socket.emit('leave', { room: contest_id });
    });*/

         console.log("FUCK",contest_id)

          window.addEventListener('beforeunload', function () {
        socket.emit('leave', { room: contest_id });
    });
        
        


        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('response', function(data) {
          if(data.Bad_word==true){
            alert("Offensive words not allowed")
          }
          else{


          const li = document.createElement('li');
        const timeDiv = document.createElement('div');
        const bubbleDiv = document.createElement('div');
            console.log('Received response:', data);
             timeDiv.classList.add('chat__time');
              bubbleDiv.classList.add(data.isYou ? 'chat__bubble--you' : 'chat__bubble--me');
              bubbleDiv.classList.add('chat__bubble');
              timeDiv.textContent = data.time;
              bubbleDiv.textContent = data.data;

              li.appendChild(timeDiv);
              li.appendChild(bubbleDiv);
        
              chatList.appendChild(li);

           }

          
        });

       document.getElementById('send_message').addEventListener('click', function() {
    var messageInput = document.getElementById('message');
    var message = messageInput.value;
    messageInput.value = '';
    var currentUrl = window.location.href;
    var username = "{{ username }}"; // Replace with actual username value

    var data = {
        message: username + ": " + message,
        url: currentUrl,
        room:contest_id
        
    };

    socket.emit('message', data);
});

    </script>

</html>
<style>

.container{
   max-width:350px;
   background:#1a1a1a;
   
  
   border:10px solid #111;
   border-radius:40px;
   box-shadow:0px 10px 15px #6610f2;
}
.link{
   font-size:16px;
   font-weight:300;
   text-align:center;
   position:relative;
   height:40px;
   line-height:40px;
   margin-top:10px;
   overflow:hidden;
   width:90%;
   margin-left:5%;
   cursor:pointer;
}
.link:after{
   content: '';
   position:absolute;
   width:80%;
   border-bottom:1px solid #6610f2;
   bottom:50%;
   left:-100%;
   transition-delay: all 0.5s;
   transition: all 0.5s;
}
.link:hover:after,
.link.hover:after{
   left:100%;
   
}
.link .text{
   text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
   transition:all 0.75s;
   transform:translateY(100%) translateZ(0);
   transition-delay:all 0.25s;
}
.link:hover .text,
.link.hover .text{
   text-shadow:0px -40px 0px #6610f2;
   transform:translateY(0%) translateZ(0) scale(1.1);
   font-weight:600;
}
</style>

