<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="icon" href="{{url_for('static',filename='/images/skill-black.jpg')}}" type="image/png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='/css/FAQ.css')}}">
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<title>Skill Storm | FAQ</title>
<meta charset="utf-8">
    <meta name="author" content="skill-storm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C6DX98HT12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C6DX98HT12');
</script>

<body  style="background-color : #343a40">


<div class="jumbotron jumbotron-fluid" style="background-color : #6f42c1;">
  <div class="container">
    <h1 class="display-4">FAQ</h1>
    <p class="lead">Unlocking Answers: Your Top Questions Addressed.</p>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               How do I get started on SkillStorm?
              </a>
            </h4>

          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">To get started, simply sign up for an account or log in if you already have one. You can explore free contests and dive into the exciting world of skill-based competitions.
</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Are there any fees to join contests?
              </a>
            </h4>

          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">Some contests may require an entry fee, while others are completely free to join. The entry fee, if applicable, will be clearly displayed on the contest details page.
</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How do I know if a contest is right for me?
              </a>
            </h4>

          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">The Explore page lists all available contests. You can use filters to find contests that match your interests and skills. Click on a contest to view its details and determine if it's a good fit for you. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
               Can I communicate with other participants during a contest?
              </a>
            </h4>

          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">Yes, you can! The Message page allows you to interact with your fellow participants in real time. Share strategies, ask questions, and enjoy a dynamic experience.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                How are winners determined, and when are prizes awarded?
              </a>
            </h4>

          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">Winners are determined based on the contest rules and criteria, which are clearly outlined on the contest details page. Prizes are awarded according to the specified schedule, usually after the contest ends.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseFive">
                Can I change my profile picture and update my information?
              </a>
            </h4>

          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">Absolutely! Your Account page provides options to manage your profile picture and update your personal information. Make your profile uniquely yours.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                How do I know that SkillStorm is a trustworthy platform?
              </a>
            </h4>

          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">SkillStorm is committed to transparency. Our About page provides insight into our platform's mission and values. You can also read testimonials from real users to understand their experiences.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEight">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Can I host my own contests on SkillStorm?
              </a>
            </h4>

          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">Absolutely yes you can host your contest in create yours page</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingNine">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                Is there a limit to the number of contests I can participate in?
              </a>
            </h4>

          </div>
          <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">There's no strict limit, but the number of contests you can participate in might depend on your availability and any contest-specific rules.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTen">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                What kind of skills are showcased on SkillStorm?
              </a>
            </h4>

          </div>
          <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
            <div class="panel-body">SkillStorm hosts a wide variety of contests, ranging from creative skills like art and writing to technical skills like coding and design. You'll find contests that cater to your interests and strengths.</div>
          </div>
        </div>

         <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEleven">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                 Can I withdraw my entry from a contest after joining?
              </a>
            </h4>

          </div>
          <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
            <div class="panel-body">SOnce you've joined a contest, your entry is final. Be sure to review the contest details before participating.</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
</body>
</html>
