
<html>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C6DX98HT12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C6DX98HT12');
</script>

<body>
<p id="readMe"></p>
<section>
  <div class="title flexItem">
    <h2>Skill-Storm Get started</h2>
    <p>Read all the below guidelines before you begin</p>
  </div>
  
  <div id="navigation">
        <nav>
          <ul id="navList">
            <li><a href="#register/login">Register/Login</a></li>
            <li><a href="#home">Skill Storm Home</a></li>
            <li><a href="#account">Skill Storm Account page</a></li>
            <li><a href="#create">Create Contest</a></li>
            <li><a href="#join">Join Contest</a></li>
            <li><a href="#winner">How winner is decided</a></li>

          </ul>
        </nav>
  </div>

  <div id="content" class="flexItem">

    <div id="register/login" class="featureContainer">
      <h2 class="heading">Register with Skill-Storm</h2>
      <div class="featureGrid">
        <div class="featureList flexItem">
        
          <div class="featureItem">
            <h3 class="">Signup</h3>
            <h6>👋 Welcome to Our Platform!</h6>
            <p>Ready to get started? Here's your simple guide:</p>
            <h6>1) Click on "Sign-Up/Login" 📝</h6>
            <p>Begin by clicking on the "Sign-Up/Login" button. It's right here, waiting for you! in the home page</p>
            <br>
            <br>
            <br>
            <img src="{{url_for('static',filename='/images/register1.png')}}" height="350px" width="550px">

            <h6>2) New User? Fill out the Form! 🆕</h6>
            <p>If you're a new user, complete the form and don't forget to provide a referral ID if you have one. Extra bonuses await!</p>

            <h6>3) Click "Sign Up" 🚀</h6>
            <p>After filling in your details, click "Sign Up."</p>

            <img src="{{url_for('static',filename='/images/register2.png')}}" height="350px" width="550px">

            <h6>4) Verify Your Email 📧</h6>
            <p>Check your inbox for an OTP (One-Time Password) to verify your email. Enter it here and click "Verify."</p>
            <img src="{{url_for('static',filename='/images/register3.png')}}" height="350px" width="550px">

            <h6>5) Registration Successful 🎉</h6>
            <p>Congratulations! Your registration is complete.</p>
        </div>

        
      </div>

        <div class="featureList flexItem">
          <div class="featureItem">
            <h3 class="">Signin</h3>
            <h6>1) Already Have an Account? 🤝</h6>
            <p>Head back to the homepage, click "Sign-Up/Login" again, but this time, select "I already have an account."
                Provide your email and password.
            </p>

            <h6>2) Hooray, You're Ready! 😇</h6>
            <p>You're all set to showcase your skills and talents to the world. Let the journey begin!
                Join us today and let your skills shine bright! 🌟</p>
          </div>
        </div>
      </div>
    </div>


    



    <div id="home" class="featureContainer">
        <h2 class="heading">SKill-Storm Home Page</h2>
        <div class="featureGrid">
          <div class="featureList flexItem">
          
            <div class="featureItem">
              <h3 class="">Welcome to Skill-Storms! ⚡ </h3>

              <p>Are you ready to explore our vibrant platform? Here's a quick guide to navigate your way through our home page:</p>

              <h6>1) Skill-Storms Showcase ⭐</h6>

              <ul>
                <li>On our home page, you'll discover the mesmerizing Skill-Storms showcasing their talents.</li><br>
                <li>Some exciting features, including our "Refer and Earn" program and free contests, are waiting for you.</li><br>

                <img src="{{url_for('static',filename='/images/home1.png')}}" height="350px" width="550px">

                <li>Simply click "Read Full" to delve deeper into the enchanting world of these skillful individuals.</li><br>
                <img src="{{url_for('static',filename='/images/home2.png')}}" height="350px" width="550px">
              </ul>

              <h6>2) Explore Our Categories 📚</h6>
              <ul>
                <li>Next up, explore our diverse categories to get an idea of the contests you can host or join.</li><br>
                <img src="{{url_for('static',filename='/images/home6.png')}}" height="350px" width="550px">
                
                <li>Click on the arrow button to uncover more details about these fascinating topics.</li><br>
                <img src="{{url_for('static',filename='/images/home7.png')}}" height="350px" width="550px">

                
                <li>Remember, there are no limits; you can host contests based on your unique expertise.</li><br>
              </ul>

              <h6>3) Free Contests Galore 🏆</h6>

              <ul>
                <li>Right below, you'll find a treasure trove of exciting free contests.</li><br>
                <li>This is your chance to shine and be rewarded for your exceptional skills.</li><br>
                <li>We value and respect your talents; let's celebrate them together!</li><br>
              </ul>
              <img src="{{url_for('static',filename='/images/home3.png')}}" height="350px" width="550px">


              <h6>4) Check Out Our Stats 📊</h6>
              <ul>
                <li>Scroll down a bit more to discover some fascinating statistics.</li><br>
                <li>Learn about our active user community and the impressive rewards and cash prizes we've provided.</li><br>
                <li>We take pride in our thriving Skill-Storms community!</li><br>
              </ul>
              <img src="{{url_for('static',filename='/images/home4.png')}}" height="350px" width="550px">

              <h6>5) Connect with Us 🌐</h6>

              <ul>
                <li>Finally, in our footer, you can explore more about our incredible team and our mission.</li><br>
                <li>Don't hesitate to contact us if you have any questions or need assistance.</li><br>
                <li>You can also join our lively forum page to share your thoughts, ideas, and queries.</li><br>
              </ul>
              <img src="{{url_for('static',filename='/images/home5.png')}}" height="350px" width="550px">

              <h6>At Skill-Storms, we're here to empower your talents, celebrate your skills, and connect you with like-minded individuals. So, dive in, explore, and let the storm of creativity and collaboration begin! 🚀💪
<br><br>
                Join us today, and let's ride the waves of inspiration together! 🌟🤝</h6>
             
          </div>
  
          
        </div>
  
        
        </div>
      </div>


    <div id="account" class="featureContainer">
        <h2 class="heading">Skill Storm Account Page</h2>
        <div class="featureGrid">
          <div class="featureList flexItem">
          
            <div class="featureItem">
              <h6>Welcome to Your Account Page! 📊</h6>

              <p>This is your personal hub where you can manage your profile and track your activities on Skill-Storms. Let's dive in:</p>

              <h6>1) Customize Your Profile 📷</h6>
              <ul>
                <li>Right at the top, you'll find your profile picture. Want to give it a fresh look? No problem! Click on "Change Profile" and select a new image to upload. 📸</li><br>
                <img src="{{url_for('static',filename='/images/account1.png')}}" height="350px" width="550px">
                <li>Right next to your profile picture, you'll spot your username and the email address you used to register.</li>
                <img src="{{url_for('static',filename='/images/account2.png')}}" height="350px" width="550px">
              </ul>

              <h6>2) Your Contest Journey 🏁</h6>
              <p>Just below, discover the total number of contests you've either hosted or participated in. Your contest journey starts here!</p>

              <h6>3) Refer and Earn Together 🔄</h6>
              <p>Further down, you'll see your referral ID. Share the love with your friends using the share button and unlock mutual benefits! It's a win-win situation for everyone involved. 🤝</p>

              <h6>4) Your Competition History 🏆</h6>
              <p>Scroll down to check out the contests you've participated in. Click "View More" to see a comprehensive list of all the contests you've joined.</p>

              <h6>Your account page is your gateway to the exciting world of Skill-Storms. Keep your profile fresh, invite friends, and relish your contest journey. Happy storming! 🌟💪</h6>

          </div>
  
          
        </div>
  
         
        </div>
      </div>

  <div id="create" class="featureContainer">
    <h2 class="heading">Create Contest</h2>
      <div class="featureGrid">
        <div class="featureList flexItem">
        
          <div class="featureItem">
            <h3 class="">Ready to Create Your Contest? 🏆
            </h3>
            
            <p>Creating your contest is a breeze! Follow these steps:</p>
            <h6>1) Click on "Create Contest" 🚀</h6>
            <p>Begin by clicking on "Create Contest." present in the top Nav bar It's your gateway to crafting an exciting competition for others to join.</p>

            <h6>2) Fill Out the Form 📝</h6>
            <p>You'll find a form with various fields, each serving a unique purpose:</p>
            <h6>Title 🔖</h6>
            <p>Describe your contest in a nutshell. This title will be displayed on the contest cards, so make it catchy!</p>

            <h6>Description 📜</h6>
            <p>Provide a general description of your contest. Tell others who you are and what your contest is all about. Paint a clear picture for potential participants.</p>

            <h6>Fee 💰</h6>
            <p>Set the entry fee that other players will need to pay to join your contest.</p>

            <h6>Category 🏷️</h6>
            <p>Select the category your contest falls under. This helps users easily find and join contests that interest them.</p>

            <h6>Requirements 🧐</h6>
            <p>Define the requirements that participants must meet. For example, specify the required level in a game like "Town Hall 12" in Clash of Clans, or the technical skills like "ReactJS proficiency" for a coding contest. This ensures the right players join your contest.</p>


            <h6>Referral ID 🔄</h6>
            <p>Choose "Yes" if you want to use referrals and offer a 50% discount to hosts, or select "No" if you prefer not to use this feature.</p>

            <h6>3) Click "Submit" 🚀</h6>
            <p>Once you've filled out all the details, hit the "Submit" button to create your contest.</p>

            <img src="{{url_for('static',filename='/images/create2.png')}}" height="350px" width="550px">

            <h6>4) Pay and Earn Double 💸</h6>
            <p>To register the contest, you'll need to make a payment using either BANK or UPI.
                Here's the exciting part: You'll earn double the entry fee! For instance, if you set the fee at $10, you'll earn $20.
                Get ready to host an amazing contest and watch participants flock to your competition. Let the games begin! 🎮🎉</p>
                <img src="{{url_for('static',filename='/images/create1.png')}}" height="350px" width="550px">
        </div>

        
      </div>

      </div>
      </div>

      <div id="join" class="featureContainer">
        <h2 class="heading">How to Join in the contest</h2>
        <div class="featureGrid">
          <div class="featureList flexItem">
          
            <div class="featureItem">
                <h3>Explore Our Thrilling Contests Section 🌟</h3>

                <p>Here, in the heart of the action, you'll find everything you need to unleash your competitive spirit! 🏆</p>

                <h6>1) Discover the Masters 👑</h6>
                <p>At the very top, meet the top players in their specific domains. They're the ones setting the bar high!</p>
                <img src="{{url_for('static',filename='/images/detail1.png')}}" height="350px" width="550px">

                <h6>2) All Contests at Your Fingertips 🏁</h6>
                <p>Below, you'll see a list of all the contests hosted by our talented users, ready for you to compete in.</p>
                <img src="{{url_for('static',filename='/images/details3.png')}}" height="350px" width="550px">

                <h6>3) Quick and Easy Search 🔍</h6>
                <p>o find the perfect contest, use our powerful search bar. Filter by category or contest name—it's super effective! Simply choose your searching options and click "Search" to discover your preferred contests.</p>
                <img src="{{url_for('static',filename='/images/details4.png')}}" height="350px" width="550px">

                <h6>4) Dive into the Details 📋</h6>

                <ul>
                    <li>Click on "View Details" to uncover everything about a contest. Read the descriptions and requirements carefully to make sure it's the right fit for you.</li><br>
                    <img src="{{url_for('static',filename='/images/details5.png')}}" height="350px" width="550px">
                    <li>Want to know more about your potential opponents? Click "View Profile" to get the lowdown.</li><br>
                    <li>Feeling confident? Hit "Join" and pay the entry fee. 🤑</li><br>
                    <li>Here's the deal: If you win, you'll double your money! 🎉 For example, if the entry fee is $10, you'll walk away with $20.</li><br>
                </ul>

                <h6>5) Payment Made Easy 💰</h6>
                <p>We offer convenient payment options, including UPI (for our Indian users) and bank transfers.</p>
                <img src="{{url_for('static',filename='/images/details6.png')}}" height="350px" width="550px">

                <h6>6) Who Will Reign Supreme? 🥇</h6>
                <p>It's time to prove your skills and show the world who's the best! 💪</p>

                <h6>Join the competition, showcase your talents, and aim for victory! 🚀 Let the games begin! 🎮🏁</h6>


                          
          </div>
  
          
        </div>
  
         
        </div>
      </div>



      <div id="winner" class="featureContainer">
        <h2 class="heading">How contests get starts</h2>
        <div class="featureGrid">
          <div class="featureList flexItem">
          
            <div class="featureItem">
                <h3>Determining the Contest Winners 🏆</h3>          

                <p>Here's how we ensure fairness and transparency in deciding the winners:</p>

                <h6>1) Contest Chat Page 📱</h6>
                <p>As soon as you create or join a contest, a dedicated chat page is created. You, your opponent, and our trusty admin will be in this chat.</p>

                <h6>2) Admin's Guidance 🧑‍💼</h6>
                <ul>
                    <li>Our admin plays a crucial role. They'll assign a common task to both you and your opponent, tailored to the contest details.</li><br>
                    <li>You can count on our admin to guide you through all the necessary details and criteria.
                    </li>

                </ul>

                <h6>3) Task Completion 🏁</h6>
                <ul>
                    <li>Once you and your opponent have completed the task, it's evaluation time.</li><br>
                    <li>Your performance and your opponent's performance will be carefully assessed.</li>
                </ul>

                <h6>4) Announcing the Winner 🥇</h6>

                <p>The winner will be announced right there in the chat, and the prize money will be swiftly transferred as per your specified method.</p>

                <h6>5) Clear Reasons 📢</h6>
                <p>Rest assured, our admin will provide valid reasons for their selection, ensuring transparency and fairness.</p>

                <h6>So, get ready to bring your A-game, complete the tasks, and let the contests begin! May the best contestant win! 🎉👏</h6>

                          
          </div>
  
          
        </div>
  
         
        </div>
      </div>


      </div>
      </section>
      
        
      
    

</body>
</html>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 30px 0 0 0;
  font-family: "Open Sans", sans-serif;
  background-image: url('../static/images/dark-bg.jpg');
}
ul,li{
  color: white;
}
h2 {
  color: white;
  font-size: 32px;
  margin: 0 0 40px 0;
}

h3,h6 {
  color: white;
  font-size: 18px;
  margin: 0 0 10px 0;
}

p {
  color: #637381;
  margin: 0 0 20px 0;
}

section {
  padding: 0 5%;
  margin: auto;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#navigation {
  width: 25%;
  padding: 15px 0;
}



a {
  display: block;
  text-decoration: none;
  color: #212b35;
  border-left: 3px solid transparent;
  padding: 10px 0 10px 16px;
}

nav {
  border-left: 1px solid #dfe3e8;
}

.fixed nav {
  top: 15px;
  position: fixed;
}

.nav-active a {
  border-left: 3px solid #212b35;
}

.featureContainer {
  margin: 0 0 30px 0;
  padding-top: 60px;
  border-top: solid 1px #dfe3e8;
}

.featureContainer:first-child {
  border-top: 0;
  margin-top: -60px;
}

.heading {
  width: 100%;
}

.featureGrid {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -18px;
}

.featureList {
  width: 50%;
}

.featureItem {
  margin-bottom: 30px;
}

.flexItem {
  padding: 0 18px;
}

.title {
  width: 75%;
  margin-left: 25%;
  margin-bottom: 40px;
}
.title h2 {
  margin-bottom: 15px;
}
.title p {
  font-size: 20px;
}

#content {
  width: 75%;
}



p, a, h2, h3 {
  color: white;
}

.nav-active a {
  border-color: white;
}
  </style>

  <script>
    // Maybe todo:
  // Add href automaticly forEach header
  // perhaps generate the content
console.clear();

const content = document.querySelector("#content");
const nav = document.querySelector('#navigation');
const navList = document.querySelector('#navList');

window.addEventListener('scroll', () => scrollNav(content, nav, navList));
scrollNav = (content, nav, navList) => {
  content.getBoundingClientRect().top<=0 ?
    nav.classList.add("fixed") : nav.classList.remove("fixed");
  
  let activeIndex = -1;
  for (let i=0; i<content.children.length-1; i++) {
    
    navList.children[i].classList.remove('nav-active');
    
    let el = content.children[i];
    if (el.getBoundingClientRect().top<=0){
      activeIndex = i;
    }
     
  }
  if (activeIndex>=0)
    navList.children[activeIndex].classList.add('nav-active');
};



  </script>
