<link rel="stylesheet" href="{{url_for('static',filename='css/mycontest.css')}}"/>
<html>
<head>
  <title>Skill Storm | My contest</title>
  
<title>Skill Storm | FAQ</title>
<meta charset="utf-8">
    <meta name="author" content="skill-storm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{{url_for('static',filename='/images/skill-black.jpg')}}" type="image/png">
  </head>
    <body>

<div class="main" >
    <h1 style="color: white;">My Contest</h1>
    <ul class="cards" style="color: #343a40;">
        {% for i in range(count) %}
      <li class="cards_item">
        <div class="card" style="background-color: #343a40;">
          <div class="card_image"><img src="{{data['URL'][i]}}"></div>
          <div class="card_content">
            <h2 class="card_title">{{data['title'][i]}}</h2>
            <p class="card_text">Type : {{data['Type'][i]}}</p>
            <p class="card_text">Category : {{data['options'][i]}}</p>
            <p class="card_text">Price : USD {{(2.5 * data['price'][i]|int)}}</p>
            <p class="card_text">Date : {{data['Date'][i]}}</p>
          </div>
        </div>
      </li>
      {% endfor %}
      
    </ul>
  </div>
  
  
</body>
</html>