<link rel="stylesheet" href="{{url_for('static',filename='css/mycontest.css')}}"/>
<html>
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9238485877346093"
     crossorigin="anonymous"></script>
  <title>Skill Storm | My contest</title>
  
<title>Skill Storm | FAQ</title>
<meta charset="utf-8">
    <meta name="author" content="skill-storm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{{url_for('static',filename='/images/skill-black.jpg')}}" type="image/png">
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C6DX98HT12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C6DX98HT12');
</script>

    <body>

<div class="main" >
    <h1 style="color: white;">My Contest</h1>
    <ul class="cards" style="color: #343a40;">

        {% for i in range(count) %}
 {% set length= data['options'][i] | length %}
      <li class="cards_item">
        <div class="card" style="background-color: #343a40;">
          <div class="card_image"><img src="{{data['URL'][i]}}"></div>
          <div class="card_content">
            <h2 class="card_title">{{data['title'][i]}}</h2>
            <p class="card_text">Type : {{data['Type'][i]}}</p>
            <p class="card_text">Category : {{data['options'][i][0:length-2]}}</p>
            <p class="card_text">Price : USD {{(1.7 * data['price'][i]|int)}}</p>
            <p class="card_text">Date : {{data['Date'][i]}}</p>
          </div>
        </div>
      </li>
      {% endfor %}
      
    </ul>
  </div>
  
  
</body>
</html>
