<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUR TEAM LEADERS</title>
<link rel="icon" href="{{url_for('static',filename='/images/skill-black.jpg')}}" type="image/png">
<link rel="stylesheet" href="{{url_for('static',filename='css/our_team.css')}}">
</head>
<body>

<section>
    <h1 class="title">our team leaders</h1>
    <div class="team-row">
        <div class="member">
            <img src="{{url_for('static',filename='images/ajay.jpeg')}}" alt="">
            <h2>Ajay K</h2>
            <p>Backend-Developer and Sever-Administrator Lead with 3 years of experience in Backend Development</p>
        </div>
        <div class="member">
            <img src="{{url_for('static',filename='images/hardika.jpg')}}" alt="">
            <h2>Hardika S</h2>
            <p>FrontEnd-Developer Lead with 2 years of experience in Front-end Development</p>
        </div>

        <div class="member">
            <img src="{{url_for('static',filename='images/jayasudha.jpg')}}" alt="">
            <h2>Jayasudha C</h2>
            <p>UI Designer Lead with 2 years of experience in UI</p>
        </div>
        <div class="member">
            <img src="{{url_for('static',filename='images/kishore.jpg')}}" alt="">
            <h2>Kishore R E</h2>
            <p>Marketing and Financial Team Lead with experience of 2 years in marketing</p>
        </div>
        <
    </div>
</section>

</body>
<script>
    document.getElementsByTagName("h1")[0].style.fontSize = "6vw";
    </script>
</html>