
<html>
<title>Skill Storm | Register & Login</title>
<link rel="icon" href="{{url_for('static',filename='/images/skill-black.jpg')}}" type="image/png">
<body>

   <head>
    <style>
      body{
        background-color: #212529;
      }
    </style>
      
      
      <link href="{{ url_for ('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

      <script src="{{url_for ('static',filename='js/bootstrap.min.js')}}"></script>
      <script src="{{url_for ('static',filename='js/jquery.min.js')}}"></script>
      <link rel="stylesheet" href="{{ url_for ('static',filename='css/signup_login.css') }}">
   </head>
   <body>
<div class="container" id="containers">
   <section id="formHolder">

      <div class="row">

         <!-- Brand Box -->
         <div class="col-sm-6 brand">
            <a href="#" class="logo">MR/MS <span>.</span></a>

            <div class="heading">
               <h2>Skill Storm</h2>
               <p>Competitive Platform</p>
            </div>

            
         </div>


         <!-- Form Box -->
         <div class="col-sm-6 form">

            <!-- Login Form -->
            <div class="login form-peice switched">
               <h1 style="padding-left: 70px;">LOGIN</h1>
               <form class="login-form" action="/login" method="post">
                  <div class="form-group">
                     <label for="loginemail">Email Adderss</label>
                     <input type="email" name="loginemail" id="loginemail" required>
                  </div>

                  <div class="form-group">
                     <label for="loginPassword">Password</label>
                     <input type="password" name="loginPassword" id="loginPassword" required>
                  </div>

                  <div class="CTA">
                     <input type="submit" value="Login">
                     <a href="#" class="switch">I'm New</a>
                  </div>
               </form>
            </div><!-- End Login Form -->


            <!-- Signup Form -->
            <div class="signup form-peice">
               <h1 style="padding-left: 60px;">REGISTER</h1>

               <form class="signup-form" method="post" id="form">

                  <div class="form-group">
                     <label for="name">Username</label>
                     <input type="text" name="username" id="name" class="name" required>
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="email">Email Adderss</label>
                     <input type="email" name="emailAdress" id="email" class="email" required>
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="phone">Phone Number</label>
                     <input type="text" name="phone" id="phone"  required>
                  </div>

                  <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" name="password" id="password" class="pass" required>
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="passwordCon">Confirm Password</label>
                     <input type="password" name="passwordCon" id="passwordCon" class="passConfirm" required>
                     <span class="error"></span>
                  </div>
                   <div class="form-group">
                     <label for="name">Referal Id -OPTIONAL</label>
                     <input type="text" name="username" id="referal_id" class="name">
                     
                  </div>
<br>
<br>
                  <input type="checkbox" id="terms" ><span>  I agree to the <a href="/terms">terms and confitions</a></span>
                     
                     
                     
                  

                  <div class="CTA">
                     <a href="#popup1" id="button">signup</a>
                     <a href="#" class="switch">I have an account</a>
                  </div>
               </form>

            </div><!-- End Signup Form -->

         </div>
      </div>

   </section>



</div>

 
</body>
<div class="popup" id="popup1" style="display: none;">
 <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
        <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
          <div class="card-body p-5 text-center">
            <h4>Verify</h4>
            <p>Your code was sent to you via email</p>

            <div class="otp-field mb-4">
              <input type="number" maxlength="1" />
              <input type="number" maxlength="1" />
              <input type="number" maxlength="1" />
              <input type="number" maxlength="1" />
              <input type="number" maxlength="1" />
              
            </div>

            <button class="btn btn-primary mb-3" id="verify" style="background-color : #7453fc; color: white;">
              Verify
            </button>

              
          </div>
        </div>
      </div>
    </div>
  </div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">



<script>
   let otp="11111"

  

  
  document.getElementById("button").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default behavior of the link

    const username = document.getElementById('name').value;
    const password =document.getElementById('password').value;
    const email=document.getElementById('email').value;
    const phone=document.getElementById('phone').value;
    let popup1=document.getElementById('popup1')
   var container = document.getElementById("containers");
    const con_password=document.getElementById('passwordCon').value;
    const referal_id=document.getElementById('referal_id').value;
    const terms=document.getElementById("terms");

    if(!terms.checked){
      alert("Accept to the terms and conditions")
    }
    else{
     
    const data = {
        username: username,
        password: password,
        email:email,
        phone:phone,
        confirm_password:con_password,
        referal_id:referal_id
    };

    if(password==con_password){
      popup1.style.display='block'
      container.style.display = "none";


    fetch('/send_otp', {
        method: 'POST', // or 'GET' or any other HTTP method
        headers: {
            'Content-Type': 'application/json',
            // Add any other headers as needed
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        if(data['email_exists']==true){
          
          window.location.href = 'http://127.0.0.1:5000/404';
          alert('EMAIL ALREADY EXISTS')


        }
        otp=data['otp']

    })
    .catch(error => {
        alert('ERROR')
    });
  }
  else{
    alert('PASSWORD MISMATCH')
  }
}
});



  document.getElementById("verify").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default behavior of the link
    const inputElements = document.querySelectorAll('.otp-field input[type="number"]');


let user_otp = '';


inputElements.forEach(input => {
    user_otp += input.value;
});
console.log(user_otp,otp)
if(otp==user_otp){
  console.log("fuck")
  fetch('/signup', {
        method: 'POST', // or 'GET' or any other HTTP method
        headers: {
            'Content-Type': 'application/json',
            // Add any other headers as needed
        },
        body: JSON.stringify(user_otp),
    })
  .then(response => response.json())
    .then(data => {
          window.location.href = 'http://127.0.0.1:5000/sucess_register';
    })
    
    .catch(error => {
        console.error('Error:', error);
    });

}
  
  else{
    alert('OTP mis Match')
  }

  
});

</script>






<script>
  
  const inputs = document.querySelectorAll(".otp-field > input");
const button = document.querySelector(".btn");

window.addEventListener("load", () => inputs[0].focus());
button.setAttribute("disabled", "disabled");

inputs[0].addEventListener("paste", function (event) {
  event.preventDefault();

  const pastedValue = (event.clipboardData || window.clipboardData).getData(
    "text"
  );
  const otpLength = inputs.length;

  for (let i = 0; i < otpLength; i++) {
    if (i < pastedValue.length) {
      inputs[i].value = pastedValue[i];
      inputs[i].removeAttribute("disabled");
      inputs[i].focus;
    } else {
      inputs[i].value = ""; // Clear any remaining inputs
      inputs[i].focus;
    }
  }
});

inputs.forEach((input, index1) => {
  input.addEventListener("keyup", (e) => {
    const currentInput = input;
    const nextInput = input.nextElementSibling;
    const prevInput = input.previousElementSibling;

    if (currentInput.value.length > 1) {
      currentInput.value = "";
      return;
    }

    if (
      nextInput &&
      nextInput.hasAttribute("disabled") &&
      currentInput.value !== ""
    ) {
      nextInput.removeAttribute("disabled");
      nextInput.focus();
    }

    if (e.key === "Backspace") {
      inputs.forEach((input, index2) => {
        if (index1 <= index2 && prevInput) {
          input.setAttribute("disabled", true);
          input.value = "";
          prevInput.focus();
        }
      });
    }

    button.classList.remove("active");
    button.setAttribute("disabled", "disabled");

    const inputsNo = inputs.length;
    if (!inputs[inputsNo - 1].disabled && inputs[inputsNo - 1].value !== "") {
      button.classList.add("active");
      button.removeAttribute("disabled");

      return;
    }
  });
});

  </script>
<script>
   /*global $, document, window, setTimeout, navigator, console, location*/
$(document).ready(function () {
  "use strict";

  var usernameError = true,
    emailError = true,
    passwordError = true,
    passConfirm = true;

  // Detect browser for css purpose
  if (navigator.userAgent.toLowerCase().indexOf("firefox") > -1) {
    $(".form form label").addClass("fontSwitch");
  }

  // Label effect
  $("input").focus(function () {
    $(this).siblings("label").addClass("active");
  });
   /* Form submit
    $('form.signup-form').submit(function (event) {
        event.preventDefault();

        if (usernameError == true || emailError == true || passwordError == true || passConfirm == true) {
            $('.name, .email, .pass, .passConfirm').blur();
          }
          else {
            const desiredUrl = '/signup';
        window.location.href = desiredUrl;
          }
        });
*/
  // Form validation
  $("input").blur(function () {
    // User Name
    if ($(this).hasClass("name")) {
      if ($(this).val().length === 0) {
        $(this)
          .siblings("span.error")
          .text("Please type your full name")
          .fadeIn()
          .parent(".form-group")
          .addClass("hasError");
        usernameError = true;
      } else if ($(this).val().length > 1 && $(this).val().length <= 6) {
        $(this)
          .siblings("span.error")
          .text("Please type at least 6 characters")
          .fadeIn()
          .parent(".form-group")
          .addClass("hasError");
        usernameError = true;
      } else {
        $(this)
          .siblings(".error")
          .text("")
          .fadeOut()
          .parent(".form-group")
          .removeClass("hasError");
        usernameError = false;
      }
    }
    // Email
    if ($(this).hasClass("email")) {
      if ($(this).val().length == "") {
        $(this)
          .siblings("span.error")
          .text("Please type your email address")
          .fadeIn()
          .parent(".form-group")
          .addClass("hasError");
        emailError = true;
      } else {
        $(this)
          .siblings(".error")
          .text("")
          .fadeOut()
          .parent(".form-group")
          .removeClass("hasError");
        emailError = false;
      }
    }

    // PassWord
    if ($(this).hasClass("pass")) {
      if ($(this).val().length < 8) {
        $(this)
          .siblings("span.error")
          .text("Please type at least 8 charcters")
          .fadeIn()
          .parent(".form-group")
          .addClass("hasError");
        passwordError = true;
      } else {
        $(this)
          .siblings(".error")
          .text("")
          .fadeOut()
          .parent(".form-group")
          .removeClass("hasError");
        passwordError = false;
      }
    }

    // PassWord confirmation
    if ($(".pass").val() !== $(".passConfirm").val()) {
      $(".passConfirm")
        .siblings(".error")
        .text("Passwords don't match")
        .fadeIn()
        .parent(".form-group")
        .addClass("hasError");
      passConfirm = false;
    } else {
      $(".passConfirm")
        .siblings(".error")
        .text("")
        .fadeOut()
        .parent(".form-group")
        .removeClass("hasError");
      passConfirm = false;
    }

    // label effect
    if ($(this).val().length > 0) {
      $(this).siblings("label").addClass("active");
    } else {
      $(this).siblings("label").removeClass("active");
    }
  });

  // form switch
  $("a.switch").click(function (e) {
    $(this).toggleClass("active");
    e.preventDefault();

    if ($("a.switch").hasClass("active")) {
      $(this)
        .parents(".form-peice")
        .addClass("switched")
        .siblings(".form-peice")
        .removeClass("switched");
    } else {
      $(this)
        .parents(".form-peice")
        .removeClass("switched")
        .siblings(".form-peice")
        .addClass("switched");
    }
  });

  // Reload page
  $("a.profile").on("click", function () {
    location.reload(true);
  });
});
   
   </script>
   <style>
   .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


   .otp-field {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
  display: none;
}

.resend {
  font-size: 12px;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
  font-size: 12px;
  text-align: right;
  font-family: monospace;
}

.footer a {
  color: black;
  text-decoration: none;
}

   </style>

</html>