<html>

<body>

	<h1 style="text-align : center;">Skill-Storm Platform Terms and Conditions</h1>

	<p>Welcome to Skill-Storm a website dedicated to hosting and participating in various contests while providing an opportunity to earn money and showcase your knowledge. Before using the Platform, please carefully read and understand the following Terms and Conditions. By using the Platform, you agree to abide by these Terms, as outlined below:</p>

	<h3>1. Acceptance of Terms:</h3>
	<p>
		By accessing or using the Platform, you acknowledge and agree to these Terms, which constitute a legally binding agreement between you and Skill-Storm. If you do not agree to these Terms, please do not use the Platform.
	</p>

	<h3>2. Eligibility:</h3>
	<ol>
		<li>Users must be at least 18 years of age to participate in contests on the Platform.</li>
		<li>Users must provide accurate and truthful information during registration.</li>
<li> The Platform may be subject to regional restrictions, and you are responsible for ensuring your eligibility based on your location's laws and regulations.</li>
</ol>
	
	<h3>3. User Accounts:</h3>
	<ol>
	<li>Users are required to create an account to participate in or host contests.</li>
<li> You are solely responsible for maintaining the confidentiality of your account credentials and all activities that occur under your account.	</li>
</ol>

<h3>5. Contest Participation:</h3>
<ol>
	<li>Users can participate in contests hosted on the Platform by paying the specified entry fee.</li>
	<li> By participating, users agree to abide by the contest rules set by the host.</li>
	</ol>
<h3>6. Earning Money:</h3>
<ol>
	<li>Users have the opportunity to earn money by winning contests as offered by the Platform.</li>
	<li> The Platform reserves the right to deduct applicable fees or charges from the user's earnings.</li>
</ol>

<h3>7. Content Ownership:</h3>
<ol>
	<li> Users retain ownership of their original content submitted to the Platform.</li>
	<li>By submitting content, users grant the Platform a non-exclusive, worldwide, royalty-free license to use, modify, and promote the content for the purpose of operating and promoting the Platform.</li>
	<li>Users money will be refunded in one or two weeks if no participants joined in those contest</li>
</ol>
<h3>8. Prohibited Activities:</h3>
<ol>
	<li>Users shall not engage in any fraudulent, harmful, or illegal activities on the Platform.</li>
	<li>Users shall not attempt to manipulate contests or interfere with the operation of the Platform.</li>
	<li>Users has no right to use offensive or fraudulant contests</li>
</ol>

<h3>9. Dispute Resolution:</h3>
	<ol>
		<li>n case of disputes between users or between users and the Platform, both parties agree to resolve disputes through negotiation or mediation.</li>
		<li>n case of failure to resolve disputes through negotiation or mediation, users and the Platform agree to submit to binding arbitration.</li>
	</ol>
<h3>10. Modifications and Termination:</h3>
<ol>
	<li>The Platform reserves the right to modify, suspend, or terminate the services at any time without prior notice.</li>
	<li>Users may terminate their accounts by contacting us at any time, but fees and charges paid are non-refundable.</li>
</ol>
<h3>Limitation of Liability:</h3>
<ol>
	<li>The Platform is not liable for any damages, losses, or liabilities arising from the use of the Platform or participation in contests.</li>
	<li> Users use the Platform at their own risk.</li>
</ol>
<h5>By using the Platform, you acknowledge that you have read, understood, and agreed to these Terms and Conditions. If you have any questions or concerns, please contact us at skill-storm@gmail.com.</h5>


<p>Last updated: 27th August 2023</p>
<p>Skill-Storm</p>




</body>

<style>
body{
	background-color: #343a40;
	color: white;
}

</style>

</html>